header{
    text-align:center;
    max-width:700px;
    margin:0 auto;
    font-family: 'Mukta', sans-serif;
    font-family: 'Tai Heritage Pro', serif;
    color:white;
}
header p{
    margin-top:0;
}
header h1{
    margin-bottom:0;
}
label{
    display:block;
}
fieldset{
    max-width:700px;
    margin: 0 auto;
    font-family: 'Mukta', sans-serif;
    font-family: 'Tai Heritage Pro', serif;
    background-color:rgba(27, 27, 50,0.7);
    color:white;
}
.selection{
    display:block;
    min-width: 500px;
    padding:6px;
    border-radius: 5px;
    border-width:1px;
    margin:10px 0;
}
textarea{
    display:block;
    margin-top:7px;
    margin-bottom:15px;
    min-width: 500px;
}
.bio{
    min-width:500px;
    height:20px;
    margin: 10px 0;
    border-radius: 5px;
    border-width:1px;
    padding:6px;
}
.opinions{
    margin:7px 0;
}
.improvements{
    margin:7px 0;
}
.submission{
    margin:0 auto;
}
.submission{
    display:block;
    margin:0 auto;
    padding:5px 30px;
    border-width:1px;
    border-radius: 5px;
    width:300px;
    background-color:#37af65;
    color:white;
    font-size:18px;
    font-family: 'Mukta', sans-serif;
    font-family: 'Tai Heritage Pro', serif;
}
body{
    background-image: url(https://images.hdqwalls.com/wallpapers/samsung-galaxy-s21-stock-lm.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}
